<%- include('includes/header.ejs')%>
</head>
  <body>
    <header>
        <%- include('includes/navigation.ejs')%>
    </header>
    <main>
        <div class="container">
            <div class="row"><br />
                <div class="col-md-8 offset-md-2">
                    <h1>Add Products!</h1>
                </div>
            </div>
        </div>
    </main>
<%- include('includes/footer.ejs')%>